<div class="book">
    <div class="info-container">
        <img src="/static/image/Game-of-thrones.jpg">
        <div class="info">
            <h2>A Game Of Thrones</h2>
        </div>
    </div>
    <div class="details-btn">
        <a href="/book/{{_id}}" class="details">Details</a>
    </div>
</div>